*.o
*.lo
*~
*.la
*.pc
*.tgz
*.gz
.dirstamp

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
stamp-h1
INSTALL

libdleyna/renderer/dleyna-renderer-service.conf
libdleyna/renderer/dleyna-renderer-1.0.pc

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

server/com.intel.dleyna-renderer.service
server/dleyna-renderer-service

test/dbus/rendererconsole.pyc
